api-gateway/
order-service/
payment-service/
restaurant-service/
courier-service/
notification-service/
user-service/
ai-service/
frontend/
auth-lib-java/
auth-lib-python/
shared-workflows/
infra/
docs/
